.simple-intro{
	background: #fff;
}
.simple-intro h2{
	padding-top: 2rem;
	height: 18rem;
	font-size: 4rem;
	text-align: center;
	line-height: 16rem;
}
.simple-intro p{
	text-align: center;
	font-size: 1.8rem;
	line-height: 2.4rem;
	padding-bottom: 9rem;
}
.detail-intro{
	padding-top: 4rem;
	background: #fff;
}
.detail-item{
	padding: 2rem;
	transition: all 0.3s;
	cursor: pointer;
}
.detail-item i{
	font-size: 3rem;
	color: brown;
}
.detail-item p{
	font-size: 1.5rem;
	line-height: 2rem;
	padding-left: 4rem;
}

.detail-item:hover{
	box-shadow: 0.3rem 0.3rem 1rem rgba(0,0,0,0.2);
}

.container{
	max-width: 76rem;
	margin: 0 auto;
}
