.simple-intro{
	background: #fff;
}
.simple-intro h2{
	padding-top: 2rem;
	height: 18rem;
	font-size: 4rem;
	text-align: center;
	line-height: 16rem;
}
.simple-intro p{
	text-align: center;
	font-size: 1.8rem;
	line-height: 2.4rem;
	padding-bottom: 9rem;
}
.more-info{
	text-align: center;
	height: 42rem;
	line-height: 42rem;
	font-size: 8rem;
	color: #fff;
}
